Tasks 1: Data Cleaning and Preprocessing

Handle missing values in the dataset.

In [4]:
import pandas as pd 
df=pd.read_csv("Telco_Customer_Churn_Dataset .csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Convert categorical variables into numerical representations using techniques like one-hot encoding.

In [6]:
# finding categorical columns
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [7]:
categorical_columns=df.select_dtypes(include=['object']).columns

In [8]:
#printing categorical columns
categorical_columns

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges',
       'Churn'],
      dtype='object')

In [9]:
#to know how many unique categories are there for every column
unique_count={}
for i in categorical_columns:
    unique_count[i]=df[i].nunique()
unique_count

{'customerID': 7043,
 'gender': 2,
 'Partner': 2,
 'Dependents': 2,
 'PhoneService': 2,
 'MultipleLines': 3,
 'InternetService': 3,
 'OnlineSecurity': 3,
 'OnlineBackup': 3,
 'DeviceProtection': 3,
 'TechSupport': 3,
 'StreamingTV': 3,
 'StreamingMovies': 3,
 'Contract': 3,
 'PaperlessBilling': 2,
 'PaymentMethod': 4,
 'TotalCharges': 6531,
 'Churn': 2}

In [10]:
#consider only categorical columns whose unique values are less than 50
final_categorical_columns=[]
for col in unique_count:
    if unique_count[col] < 50 :
        final_categorical_columns.append(col)
final_categorical_columns

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [11]:
#converting categorical column to numerical using one-hot encoding 
df_encode=pd.get_dummies(df,columns=final_categorical_columns)
df_encode

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_No,Churn_Yes
0,7590-VHVEG,0,1,29.85,29.85,True,False,False,True,True,...,False,False,False,True,False,False,True,False,True,False
1,5575-GNVDE,0,34,56.95,1889.5,False,True,True,False,True,...,True,False,True,False,False,False,False,True,True,False
2,3668-QPYBK,0,2,53.85,108.15,False,True,True,False,True,...,False,False,False,True,False,False,False,True,False,True
3,7795-CFOCW,0,45,42.30,1840.75,False,True,True,False,True,...,True,False,True,False,True,False,False,False,True,False
4,9237-HQITU,0,2,70.70,151.65,True,False,True,False,True,...,False,False,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,0,24,84.80,1990.5,False,True,False,True,False,...,True,False,False,True,False,False,False,True,True,False
7039,2234-XADUH,0,72,103.20,7362.9,True,False,False,True,False,...,True,False,False,True,False,True,False,False,True,False
7040,4801-JZAZL,0,11,29.60,346.45,True,False,False,True,False,...,False,False,False,True,False,False,True,False,True,False
7041,8361-LTMKD,1,4,74.40,306.6,False,True,False,True,True,...,False,False,False,True,False,False,False,True,False,True
7042,3186-AJIEK,0,66,105.65,6844.5,False,True,True,False,True,...,False,True,False,True,True,False,False,False,True,False

In [12]:
print("Before applying one-hot encoding column count : ",df.shape[1])
print("After applying one-hot encoding column count : ",df_encode.shape[1])

Before applying one-hot encoding column count :  21
After applying one-hot encoding column count :  48

In [15]:
file_path = 'updated_dataset_after_task_1.csv'

# Save DataFrame to CSV
df_encode.to_csv(file_path, index=False)  # Set index=False to exclude row numbers from the CSV

print(f"DataFrame saved to '{file_path}'")

DataFrame saved to 'updated_dataset_after_task_1.csv'