Handle missing values in the dataset.

In [7]:
import pandas as pd 
df=pd.read_csv(r"C:/Users/aruna/OneDrive/Desktop/Data analysis Intern/Telco_Customer_Churn_Dataset .csv")

In [8]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
df.shape

(7043, 21)

In [10]:
df.isnull().sum()
#no null values in dataset

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Convert categorical variables into numerical representations using techniques like one-hot encoding.

In [11]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [12]:
# Select categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
print(categorical_columns)

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges',
       'Churn'],
      dtype='object')

In [26]:
unique_values_summary = {}
for col in categorical_columns:
    unique_values_summary[col] = (df[col].unique(),df[col].nunique())

In [27]:
unique_values_summary

{'customerID': (array(['7590-VHVEG', '5575-GNVDE', '3668-QPYBK', ..., '4801-JZAZL',
         '8361-LTMKD', '3186-AJIEK'], dtype=object),
  7043),
 'gender': (array(['Female', 'Male'], dtype=object), 2),
 'Partner': (array(['Yes', 'No'], dtype=object), 2),
 'Dependents': (array(['No', 'Yes'], dtype=object), 2),
 'PhoneService': (array(['No', 'Yes'], dtype=object), 2),
 'MultipleLines': (array(['No phone service', 'No', 'Yes'], dtype=object), 3),
 'InternetService': (array(['DSL', 'Fiber optic', 'No'], dtype=object), 3),
 'OnlineSecurity': (array(['No', 'Yes', 'No internet service'], dtype=object),
  3),
 'OnlineBackup': (array(['Yes', 'No', 'No internet service'], dtype=object),
  3),
 'DeviceProtection': (array(['No', 'Yes', 'No internet service'], dtype=object),
  3),
 'TechSupport': (array(['No', 'Yes', 'No internet service'], dtype=object), 3),
 'StreamingTV': (array(['No', 'Yes', 'No internet service'], dtype=object), 3),
 'StreamingMovies': (array(['No', 'Yes', 'No internet service'], dtype=object),
  3),
 'Contract': (array(['Month-to-month', 'One year', 'Two year'], dtype=object),
  3),
 'PaperlessBilling': (array(['Yes', 'No'], dtype=object), 2),
 'PaymentMethod': (array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
         'Credit card (automatic)'], dtype=object),
  4),
 'TotalCharges': (array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
        dtype=object),
  6531),
 'Churn': (array(['No', 'Yes'], dtype=object), 2)}

In [42]:
categorical_columns=[]
for i in unique_values_summary:
    if (unique_values_summary[i][1]<30):
        categorical_columns.append(i)

In [43]:
categorical_columns

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [47]:
df_encoded = pd.get_dummies(df, columns=categorical_columns,dtype='int')

In [48]:
df_encoded

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_No,Churn_Yes
0,7590-VHVEG,0,1,29.85,29.85,1,0,0,1,1,...,0,0,0,1,0,0,1,0,1,0
1,5575-GNVDE,0,34,56.95,1889.5,0,1,1,0,1,...,1,0,1,0,0,0,0,1,1,0
2,3668-QPYBK,0,2,53.85,108.15,0,1,1,0,1,...,0,0,0,1,0,0,0,1,0,1
3,7795-CFOCW,0,45,42.30,1840.75,0,1,1,0,1,...,1,0,1,0,1,0,0,0,1,0
4,9237-HQITU,0,2,70.70,151.65,1,0,1,0,1,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,0,24,84.80,1990.5,0,1,0,1,0,...,1,0,0,1,0,0,0,1,1,0
7039,2234-XADUH,0,72,103.20,7362.9,1,0,0,1,0,...,1,0,0,1,0,1,0,0,1,0
7040,4801-JZAZL,0,11,29.60,346.45,1,0,0,1,0,...,0,0,0,1,0,0,1,0,1,0
7041,8361-LTMKD,1,4,74.40,306.6,0,1,0,1,1,...,0,0,0,1,0,0,0,1,0,1
7042,3186-AJIEK,0,66,105.65,6844.5,0,1,1,0,1,...,0,1,0,1,1,0,0,0,1,0

In [49]:
df_encoded.columns

Index(['customerID', 'SeniorCitizen', 'tenure', 'MonthlyCharges',
       'TotalCharges', 'gender_Female', 'gender_Male', 'Partner_No',
       'Partner_Yes', 'Dependents_No', 'Dependents_Yes', 'PhoneService_No',
       'PhoneService_Yes', 'MultipleLines_No',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No', 'OnlineBackup_No internet service',
       'OnlineBackup_Yes', 'DeviceProtection_No',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No', 'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No', 'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No', 'StreamingMovies_No internet service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaperlessBilling_No', 'PaperlessBilling_Yes',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'Churn_No', 'Churn_Yes'],
      dtype='object')